<h1>Get registered to Go!</h1>
<%= form_for @user do |f| %>
	<%= f.label :"Your Group Name" %></br>
	<%= f.text_field :username %></br>
	<%= f.label :email %></br>
	<%= f.text_field :email %></br>
	<%= f.label :password %></br>
	<%= f.password_field :password %></br>
	<%= f.label :password_confirmation %></br>
	<%= f.password_field :password_confirmation %></br>
	<%= f.submit %></br>
	</br>
<% end %>