<!DOCTYPE html>
<html>
<head>
  <title>GroupgoD</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- flash[:errors] if flash[:errors]
if current_user
link_to "Logout", logout_path
end -->
<div class="navbar navbar-inverse">
<ul class="nav nav-pills">
	<li><a href="/">Home</a></li>
	<% if current_user %>
		<li><a href="/entry/<%= current_user.id %>">Trip</a></li>
	<% end %>
	<li><a href="#">Messages</a></li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				User
				<b class="caret"></b>
		</a>
		<ul class="dropdown-menu"> 
	<li><a href="/users/new">Sign Up</a></li>
	<li><a href="/sessions/new">Log In</a></li>
	<li class="divider"></li>
	<li><a href="/logout">Sign Out</a></li>
	</ul> 
		</li>
</ul>
</div>

<!-- <div class="container"> -->
	<div class="row">
		<div class="span3"></div>
		<div class="span6"><%= yield %></div>
		<div class="span2">
			<h2>About Us</h2>
			lskaj fdgsdg  sdgsdf sd g sdfgsdf gdsfg  
		</div>
		<div class="span1"></div>
	</div>
<!-- </div> -->
</body>
</html>
