<body>
<h1>Email list</h1>
<p>
test to see if where_to & what_for are passing
<p>
<%= @entry.where_to %></br>
<%= @entry.what_for %></br>

 <input type="textbox" id="entry1" />
 		<input type="hidden" id="entry_id" name="entry_id" value="<%= @entry.id %>">
    <input type="button" value="Add Email" onclick="addList('EmailListForm')" />
 
    <input type="button" value="Delete Email" onclick="deleteList('EmailListForm')" />

    <table id="EmailListForm" width="350px" border="1">
     
    </table>
 Emails in list
<% @groups.each do |group| %>
<p><%= group.email %><p>
<% end %>

<p>
<form action="/submit">
	<input name="entry_id" type="hidden" value="<%= @entry.id %>">
	<button> SEND EMAILS! </button>
</form>
<h1>url maker</h1>
    copy this url
    <input type="textbox" size="20" value="localhost:3000/<%= @entry.id %>" id="urlmaker" />
<!-- trying message board -->
<%= form_tag("/message", method: "get") do %>
	 <input type="hidden" id="entry_id" name="entry_id" value="<%= @entry.id %>">
  <%= label_tag(:message, "Message:") %>
  <%= text_area_tag(:message) %>
  <%= submit_tag("Post Message") %>
<% end %>

Messages Left <br>
<% if @messages %>
<% @messages.each do |message| %>
	<%= message.message %> <br>
<% end %>
<% end %>


</div>
</body>
